.form-status-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

}

.status-published {
    background: #C8E6C9;
    color: #256029;
}

.status-draft {
    background: #B3E5FC;
    color: #23547B;
}

.status-archived {
    background: #FEEDAF;
    color: #8A5340;
}

.status-deleted {
    background: #FFCDD2;
    color: #C63737;
}

.button-margin {
    margin: 2px;
}
