.form-status-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.operating-hours-badge {
    border-radius: 2px;
    padding: .7rem 1.2rem;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .3px;
}

.status-published, .status-valid {
    background: #C8E6C9;
    color: #256029;
}

.status-draft, .status-create {
    background: #B3E5FC;
    color: #23547B;
}

.status-archived, .status-update {
    background: #FEEDAF;
    color: #8A5340;
}

.status-deleted, .status-invalid, .status-duplicate-email {
    background: #FFCDD2;
    color: #C63737;
}

.status-employee {
    background: #DDA0DD;
    color: #832f83;
}

.status-valid, .status-invalid, .status-create, .status-update, .status-employee {
    font-size: 18px;
}

.status-duplicate-email {
    font-size: 14px;
}

.consultation-badge {
    background: #406E7E;
    color: #FFFFFF;
}

.slot-badge {
    background: #03a1fc;
    color: #FFFFFF;
}

.privacy-public {
    background: #ECCFFF;
    color: #694382;
}

.privacy-private {
    background: #FFD8B2;
    color: #805B36;
}

.role-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: .3px;
}

.role-MEDICAL_OFFICER {
    background: #C8E6C9;
    color: #256029;
}

.role-CLERK {
    background: #B3E5FC;
    color: #23547B;
}

.role-SUPER_USER {
    background: #FEEDAF;
    color: #8A5340;
}

.role-MB_ADMIN {
    background: #DDA0DD;
    color: #832f83;
}

.button-margin {
    margin: 2px;
}

.tooltip-btn {
    background-color: transparent;
    color: #25A4D4;
    border: 1px solid;
    border-radius: 3px;
    padding: 6.5px 10px;
    font-size: 12px;
}
.tooltip-btn:hover {
    background: rgba(37,164,212,0.04);
}