.error-message {
    margin: 0.2rem 0rem 0rem 0rem !important;
    display:block !important;
}

.display-text {
    font-weight: bold;
}

.view-text {
    margin: 0.1rem 0rem 0.7rem 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.8;
    color: inherit;
    display: block;
}

.new-booking-slot, .new-medical-board-slot {
    background: #A24E77 !important;
    border: 1px solid #A24E77 !important;
    font-family: "Courier New" !important;
}

.available-booking-slot, .available-medical-board-slot {
    background: #4ea279 !important;
    border: 1px solid #4ea279 !important;
    font-family: "Courier New" !important;
}

.available-booking-slot, .available-medical-board-slot {
    background: #4ea279 !important;
    border: 1px solid #4ea279 !important;
    font-family: "Courier New" !important;
}

.booked-booking-slot, booked-medical-board-slot {
    background: #6b6bb8 !important;
    border: 1px solid #6b6bb8 !important;
    font-family: "Courier New" !important;
}

.past-booking-slot, .past-medical-board-slot {
    background: #C0C0E1 !important;
    color: black !important;
    border: 1px solid #C0C0E1 !important;
    font-family: "Courier New" !important;
}

.expired-booking-slot, .expired-medical-board-slot {
    background: #55555A !important;
    border: 1px solid #55555A !important;
    font-family: "Courier New" !important;
}

.selected-booking-slot, .selected-medical-board-slot {
    background: #03a1fc !important;
    border: 1px solid #03a1fc !important;
    font-family: "Courier New" !important;
}

.absent-booking-slot {
    background: #C76D09 !important;
    border: 1px solid #C76D09 !important;
    font-family: "Courier New" !important;
}

.fc-center{
    float:right;
}