.custom-icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

/*.medicalCentre-icon {
    width: 14px;
    height: 14px;
    background-image: url("#{resource['images/icons/medicalCentre_icon.svg']}") !important;
}*/